@tailwind base;
@tailwind components;
@tailwind utilities;

.lili-code {
    @apply px-1 py-0.5 text-lili-red bg-[#f9f2f4] rounded;
}

.highlight-color {
    @apply text-lili-red;
}

.muted-image {
  filter: grayscale(70%);
  transition: filter 0.3s ease;
}

.muted-image:hover {
  filter: grayscale(0%);
}
